nav {
    position:absolute;
    width: 100%;
    top:0;
    left:0;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:50px;
    .links {
        width:40%;
        display: flex;
        gap: 50px;
    }

    a {
        text-decoration:none;
        color: white;
    }
}
